
@{
    ViewBag.Title = "Contact";
}

<h2>Please contact Saraw.</h2>

<div id="map" style="width:800px; height:400px; background-color:grey; border-color:red; border:1px solid lightgray">My map will go here</div>

<script type="text/javascript" src="~/Scripts/saraw.script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNMqZWDd_QMYyLl5qBuTLdJXsD2RWQS20&callback=googleMapHome"></script>
