
@{
    ViewBag.Title = "Sara Yeh!";
    var arrayData = ViewData["arrayData"] as string[];
}

<h2>Yah! SARAW </h2>
<p>do somting here for show my data</p>
<p>Copied: do somting here for show my data</p>


<table>

    @foreach (var item in arrayData)
    {
        <tr>
            <td>@item</td>
        </tr>
    }

</table>
